<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>

  <system.serviceModel>
    <services>
      <service name="Spinvoice.Server.FileParseService">
        <endpoint address="net.pipe://localhost/Spinvoice.Server/FileParseServer" name="namedPipe" binding="netNamedPipeBinding" contract="Spinvoice.Server.IFileParseService"/>
        <endpoint address="mex" binding="mexNamedPipeBinding" bindingConfiguration="" name="namedPipeMex" contract="IMetadataExchange"/>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>